# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
dev-dist
tmp

# dependencies
node_modules

# IDEs and editors
/.idea

# IDE - VSCode
.idea

# System Files
.DS_Store
Thumbs.db

# Nx:
.nx/cache
.nx/workspace-data

# misc
todo.md
