@import "@vue-flow/core/dist/style.css";
@import "@vue-flow/core/dist/theme-default.css";
@import "@vue-flow/controls/dist/style.css";
@import "@vue-flow/node-resizer/dist/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;

  --primary-50: 240 240 240;
  --primary-100: 224 224 224;
  --primary-200: 199 199 199;
  --primary-300: 166 166 166;
  --primary-400: 125 125 125;
  --primary-500: 99 99 99;
  --primary-600: 82 82 82;
  --primary-700: 69 69 69;
  --primary-800: 59 59 59;
  --primary-900: 51 51 51;
  --primary-950: 28 28 28;

  --surface-0: 255 255 255;
  --surface-50: 235 235 235;
  --surface-100: 219 219 219;
  --surface-200: 194 194 194;
  --surface-300: 161 161 161;
  --surface-400: 120 120 120;
  --surface-500: 94 94 94;
  --surface-600: 77 77 77;
  --surface-700: 64 64 64;
  --surface-800: 54 54 54;
  --surface-900: 46 46 46;
  --surface-950: 28 28 28;
}

.vue-flow__resize-control.line {
  border-width: 1px;
  border-color: #646973;
}
